<div id="spotify-search">
    <form action="/artist-search" method="GET" class="search-container">
        <input type="text" name="artist" placeholder="Search for an artist">
        <button>Search for an Artist</button>
    </form>
</div>